[Desktop Entry]
Type=Application
Name=Tuned Switcher applet
GenericName=Tuned Switcher applet
Categories=Utility;
Comment=Simple utility to manipulate the Tuned service
Icon=org.easycoding.TunedSwitcher
Exec=tuned-switcher-tray
Terminal=false
